body{
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(89.51deg, rgba(255, 169, 157, 0.8) -8.34%, rgba(255, 215, 236, 0.886354) 58.7%, #FFFFFF 110.99%);
    color: #222232;
    margin: 64px;
  }
  
  .title {
    border-bottom:2px solid;
  }
  
  .normalButton{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    background: #FAF5F4;
    color: #222232;
    border-radius: 10px;
    border: 0px;
    
  }
  
  .normalButton:hover {
    background: #FFA99D;
    
  }
  
  .normalButton:active {
    background: #FDF8F7;
    
  }
